.button {
  position: relative;
  height: 55px;
  padding: 14px 47px;
  margin: 6.5px 37px 0 33px;
  border: 2px solid;
  border-right: 0;
  border-left: 0;
  color: white;
  font: 700 16px/1.4 'NeueMachina', sans-serif;
  filter: drop-shadow(0px 0px 0 black);
  transition: transform .3s, filter .3s;
  cursor: pointer;

  &--transparent {
    background-color: transparent;
    border-color: white;

    &::before {
      background-image: url("./images/5-02.svg");
    }

    &::after {
      background-image: url("./images/5-01.svg");
    }
  }

  &--white {
    background-color: white;
    border-color: white;
    color: black;

    &::before {
      background-image: url("./images/78-02.svg");
    }

    &::after {
      background-image: url("./images/78-01.svg");
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::before {
    top: -4px;
    left: -35px;
    width: 42px;
    height: 59px;
  }

  &::after {
    top: -9px;
    right: -39px;
    width: 46px;
    height: 63px;
  }

  &:hover {
    transform: translate(-2px, -2px);
    filter: drop-shadow(2px 2px 1px black);
  }
}